mixin sAdaptability(data)
	// start sAdaptability
	+b.SECTION.sAdaptability.section#sAdaptability&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sAdaptability
				
			.row
	// end sAdaptability