// start .sAdvantage
.sAdvantage {
	
	&__imgWrap {
		@include media-breakpoint-up(xl) {
			margin-left: rem(-40);
			margin-right: rem(-90);
		}
	}

	&:nth-child(odd) {
		background-color: $purple;

		.sAdvantage__row {
			flex-direction: row-reverse;
		}

		.sAdvantage__picCol {
			padding-left: 0;
		}
		.sAdvantage__textCol {
			@include media-breakpoint-up(xl) {
				padding-left: rem(80);
			}
		}
	}

	&:nth-child(even) {
		.sAdvantage__picCol {
			padding-right: 0;
		}
	}


	.section-title {
		// padding-top: rem(120);
		p {
			text-transform: uppercase;
			color: $secondary;
			font-weight: 700;
			letter-spacing: 0.16em;
			margin-bottom: 1.1rem;
			@include media-breakpoint-up(md) {
				margin-bottom: 1.9rem;
			}
		}
	}
	
	h2, .h2 {
		@extend .h1;
		font-weight: bold;
		line-height: 100%;

	}

	h5 {
		line-height: 160%;
		max-width: rem(525);
	}

	&__link {
		@include media-breakpoint-up(md) {
			margin-top: rem(45);
			display: inline-block;
		}
		display: flex;
		@include media-breakpoint-down(sm) {
			justify-content: space-between;
		}
		padding-bottom: rem(10);
		align-items: center;
		border-bottom: 1px solid #ececec;
		text-decoration: none !important;
		@extend .h6;

		&:hover {
			border-color: transparent;
		}

		.icon {
			margin-left: rem(40);
			font-size: rem(12);
		}
	}

	&__devices {
		padding-top: rem(25);

		.h5 {
			margin-bottom: 1.5rem;
		}
	}

	&__devicesRow {
		@include media-breakpoint-up(md) {
			@include roww(55px);
		}
	}

	&__gridRow {
		padding-top: rem(20);
		max-width: 240px;
		@include media-breakpoint-down(xs) {
			display: grid;
			grid-template-columns: repeat(2,1fr);
		}
	}

	&__quantlyItem {
		@include media-breakpoint-down(xs) {
			&:nth-child(1) {
				grid-column-start: 2;
				grid-column-end: 3;
				// text-align: right;
			}
			&:nth-child(2) {
				grid-column-start: 1;
				grid-column-end: 1;
			}




		}
	}


	&__notAll {
		font-size: $small;
	}


	&__quantly {
		font-size: rem(54px);
		color: #3c3249;
		line-height: 1;
		font-weight: 800;
	}

	&__ways {
		color: #3c3249;
		font-size: $small;
		font-weight: 700;
	}

	&__col {
		padding-top: rem(10);
		text-align: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		img {
			margin-bottom: auto;
			
		}
	}

	&__name {
		margin-top: auto;
		padding-top: rem(12);
		font-size: $xsmall;
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdvantage