.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-attach {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-catalog {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-chanel {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-down {
	font-size:(6/10)*1rem;
	width:(10/6)*1em;
}
.icon-chevron-right {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-country {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-fb {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-filter-bg {
	font-size:(248.67/10)*1rem;
	width:(500/248.67)*1em;
}
.icon-git {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-help {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-info {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-line {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-lock {
	font-size:(16/10)*1rem;
	width:(14/16)*1em;
}
.icon-mail {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-microphone {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-mouse {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-pdf {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-play {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-reference {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-slider-left {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-slider-right {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-sms {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-sources-other-1 {
	font-size:(44/10)*1rem;
	width:(50/44)*1em;
}
.icon-sources-other-2 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-sourses-tab-1 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-sourses-tab-2 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-sourses-tab-3 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-sourses-tab-4 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-sourses-tab-5 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-sourses-tab-6 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-sourses-tab-7 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-telegram {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
