mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+e.line.d-none.d-lg-block
			.container
				.row.align-items-center
					.col-auto
						+e.chanel(href="#")
							+e.iconWrap
								+icon('chanel')
							+e.chanel-text Каналы
							+e.chanel-num 7
					.col-auto
						+e.catalog(href="#")
							+icon('catalog')
							span Каталог
					.col-auto
						+e.help(href="#")
							+icon('help')
							span Помощь
		+e.line
			.container
				+breadcrumb('Главная','Пример типовой страницы')
		.container
			+e.mainContent
				+b.section-title.d-lg-none
					.h1 Впервые используете сервис Notify.Events?
				.row
					+e.col.col-lg.order-lg-last
						+b.linksBlock--js
							ul
								li: a.scroll-link(href="#important-to-remember") Что Важно помнить?
								li: a.scroll-link(href="#software-for-work") Необходимый софт для работы с сервисом
								li
									a.scroll-link(href="#video") Видеоруководство по установке загрузчика
									+e.UL.subMnu
										li: a.scroll-link(href="#server-work") Работа на сервере
										li: a.scroll-link(href="#client-side-work") Работа на стороне клиента
								li
									a.scroll-link(href="#pdf") PDF-инструкция по установке
									+e.UL.subMnu
										li: a.scroll-link(href="#start-code") Стартовый код для команды загрузки
								li: a.scroll-link(href="#table") Таблица совместимости

					.col-lg-9
						+b.section-title.d-none.d-lg-block
							h1 Впервые используете сервис Notify.Events?
						+b.infoBlock
							+e.iconInfo
								+icon('info')
							+e.text
								h4 Важная информация!
								p Идейные соображения высшего порядка, а&nbsp;также сложившаяся структура организации требуют от&nbsp;нас анализа позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от&nbsp;нас анализа системы обучения кадров, соответствует насущным потребностям.
						#important-to-remember
							h2 Что Важно помнить?
							p Идейные соображения высшего порядка, а&nbsp;также сложившаяся структура организации требуют от&nbsp;нас анализа позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Повседневная практика показывает, что постоянное информационно-гандистское обеспечение нашей деятельности требуют от&nbsp;нас анализа #[a(href="#") системы обучения] кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в&nbsp;значительной степени обуславливает создание соответствующий условий активизации. Таким образом постоянный количественный рост и&nbsp;сфера нашей активности требуют от&nbsp;нас анализа модели развития. Таким образом консультация с&nbsp;широким активом позволяет оценить значение форм развития.
							p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.
							+e.picWrap
								+pic('content-1')
								+e.picDescr Процесс разработки плагина под сервис Notify.Events на&nbsp;локальном сервере.
						#software-for-work
							h2 Необходимый софт для работы с сервисом 
							p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от&nbsp;нас анализа соответствующий условий активизации. Равным образом консультация с&nbsp;широким активом представляет собой интересный эксперимент проверки систем массового участия.
						#server-work
							h3 Работа на сервере
							p Идейные соображения высшего порядка, а&nbsp;также начало повседневной работы по&nbsp;формированию позиции в&nbsp;значительной степени обуславливает создание дальнейших направлений развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по&nbsp;разработке соответствующий условий активизации. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и&nbsp;место обучения кадров способствует подготовки и&nbsp;реализации систем массового участия. Не&nbsp;следует, однако забывать, что рамки и&nbsp;место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития.
							p Товарищи! рамки и&nbsp;место обучения кадров способствует подготовки и&nbsp;реализации систем массового участия. Не&nbsp;следует, однако забывать, что рамки и&nbsp;место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития.
						#client-side-work
							h3 Работа на стороне клиента
							p Идейные соображения высшего порядка, а&nbsp;также начало повседневной работы по&nbsp;формированию позиции в&nbsp;значительной степени обуславливает создание дальнейших направлений развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по&nbsp;разработке соответствующий условий активизации. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации #[a(href="#") системы обучения] кадров, соответствует насущным потребностям. Товарищи! рамки и&nbsp;место обучения кадров способствует подготовки и&nbsp;реализации систем массового участия. Не&nbsp;следует, однако забывать, что рамки и&nbsp;место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития.
							h4 Список необходимого и бесплатного софта: 
							+e.listWrap
								h5 Обязательный пакет
								ul
									li Sublime Text 3/Visual Studio
									li Adobe XD/Ilustrator/Photoshop
									li Базовая подписка на Github
									li Установленный локальный сервес на ПК
									li FTP-доступ к собственному хостингу
								h5 Необязательный пакет
								ul
									li Sublime Text 3/Visual Studio
									li Adobe XD/Ilustrator/Photoshop
									li Базовая подписка на Github
							+e.picWrap
								+pic('content-2')
								+e.picDescr Подключение дополнительных плагинов для кастомизации софта
						#video
							h2 Видеоруководство по установке загрузчика
							p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от&nbsp;нас анализа соответствующий условий активизации. Равным образом консультация с&nbsp;широким активом представляет собой интересный эксперимент проверки систем массового участия. Задача организации, в&nbsp;особенности&nbsp;же рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. Идейные соображения высшего порядка, а&nbsp;также постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и&nbsp;реализации форм развития.
							p Идейные соображения высшего порядка, а&nbsp;также начало повседневной работы по&nbsp;формированию позиции в&nbsp;значительной степени обуславливает создание дальнейших направлений развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по&nbsp;разработке соответствующий условий активизации. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за&nbsp;собой процесс внедрения и&nbsp;модернизации системы обучения кадров, соответствует насущным потребностям.
							h4 Видеоинструкция: &laquo;Загрузка установочного пакета&raquo;
							+b.videoBlock(href="https://www.youtube.com/watch?v=fV8d4Grhej8" data-fancybox="video")
								+pic('content-3')
								+e.block
									+e.iconWrap
										+icon('play')
									+e.play Воспроизвести
									+e.time (4 мин 34 сек)
						#pdf
							h2 PDF-инструкция по установке
							p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от&nbsp;нас анализа соответствующий условий активизации. Равным образом консультация с&nbsp;широким активом представляет собой интересный эксперимент проверки систем массового участия. Задача организации, в&nbsp;особенности&nbsp;же рамки и&nbsp;место обучения кадров обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании новых предложений. Идейные соображения высшего порядка, а&nbsp;также постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и&nbsp;реализации форм развития.
							+e.block
								+b.instructions
									+e.text
										+icon('attach')
										span Инструкция по установке плагина.pdf
									+e.file
										+e.size Размер:
											span 50 mb
										+e.link(href="#")
											+icon('pdf')
											span Скачать файл
						#start-code
							h3 Стартовый код для команды загрузки
							p Идейные соображения высшего порядка, а&nbsp;также начало повседневной работы по&nbsp;формированию позиции в&nbsp;значительной степени обуславливает создание дальнейших направлений развития.
							pre
								-
									var myHtml='<?\n'+
									'$text = file_get_contents("http://site.com/index.php");\n'+
									'$data = array();\n'+
									'preg_match("/<div class=\"popupmenu-item\">(.*)<\/div>/Uis", $text, $out);\n'+
									'print "$out[1]";\n'+
									'?>'
								code= myHtml

							h4 В CSS вставьте следующий код:
							pre
								-
									var myCss='pre {\n'+
									'margin: 10px 0px 10px 10px;\n'+
									'padding: 10px;\n'+
									'color: #3f0309;\n'+
									'font: 14px normal helvetica, sans-serif;\n'+
									'border-left: 4px solid #d2bf94;\n'+
									'white-space: pre-wrap; /* перенос длинных строк */\n'+
									'word-wrap: break-word; /* перенос длинных слов в Internet Explorer 5.5+ */\n'+
									'}'
								code= myCss
						#table
							h2 Таблица совместимости систем с плагином
							p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от&nbsp;нас анализа соответствующий условий активизации. Равным образом консультация с&nbsp;широким активом представляет собой интересный эксперимент проверки систем массового участия.
							+e.table
								table
									thead
										tr
											td Операционная система
											td Параметр 1
											td Параметр 2
											td Параметр 3
											td Параметр 4
											td Итог
									tbody
										mixin tr(t,r)
											tr
												td= t
												td 
													.d-md-none Параметр 1
													|Совместима
												td 
													.d-md-none Параметр 2
													|Несовместима
												td 
													.d-md-none Параметр 3
													|Совместима
												td 
													.d-md-none Параметр 4
													|Настраиваемая
												if r
													td
														.d-md-none Итог
														+e.tdWrap
															img.res-i(src="img/svg/remove.svg", alt="")
															span Готово
												else
													td
														.d-md-none Итог
														+e.tdWrap
															img.res-i(src="img/svg/table-check.svg", alt="")
															span Готово
										+tr('Microsoft Windows 10')
										+tr('Microsoft Windows 8')
										+tr('Mac OS Catalina')
										+tr('Mac OS Mojave')
										+tr('Microsoft Windows 10')
										+tr('Microsoft Windows 8','r')
										+tr('Mac OS Catalina','r')
										+tr('Mac OS Mojave')
















	// end sContent