// start .sAdditionalServices
.sAdditionalServices {
	padding-top: calc(var(--sPT) / 1.3);
	padding-bottom: calc(var(--sPB) / 1.6);
	// margin-bottom: rem(50);
	border-top: 1px solid #EFEBF7;
	border-bottom-right-radius: $btn-border-radius;
	border-bottom-left-radius: $btn-border-radius;
	position: relative;
	background-color: $purple;
	overflow: hidden;

	h4 {
		font-size: 25px;
		color: #3c3249;
		font-weight: 700;
		margin-bottom: .4rem;
	}

	@include media-breakpoint-up(md) {

		&::before {
			content: '';
			@include a-cent(y);
			left: 0;
			width: 100%;
			height: rem(400px);
			background-image: url('../img/@2x/additional-bg.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&__block, &__text {
		position: relative;
		z-index: 2;
	}

	&__block {
		border: 2px solid $secondary;
		border-radius: $border-radius-sm;
		margin-bottom: rem(44);
		// overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 52px;
			background-color: $secondary;
		}
	}


	&__topLine {
		color: $secondary;
		@include media-breakpoint-up(lg) {
			color: #fff;
		}

		.icon {
			font-size: rem(18);
			margin-right: rem(10);
		}

		span {
			padding-top: rem(3);
		}
	}
	&__fitstItem {
		.sAdditionalServices__topLine {
			color: #fff !important;
			@include media-breakpoint-down(sm) {
				padding-top: rem(20);
				padding-bottom: rem(20);
			}
		}
	}

	&__body, &__topLine {
		padding: rem(7) rem(15);
		@include media-breakpoint-up(md) {
			padding: rem(15) rem(17);
		}
	}

	&__price {
		font-size: $h5-font-size;
		font-weight: 700;
		color: $secondary;

		span {
			font-size: $xsmall;
			font-weight: 400;
		}
	}

	&__input {
		padding: rem(15) rem(43) rem(15) rem(25);
		height: auto;
		width: 100%;
		max-width: 300;
		@include media-breakpoint-up(lg) {
			width: 229px;
		}
	}

	&__input-wrap {
		margin-bottom: 3px;
	}

	&__priceWrap {
		padding-top: 2px;
		@include media-breakpoint-down(md) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__sm {
		font-size: $xsmall;
		color: #8c7ea1;
		margin-bottom: rem(4);
	}

	h5 {
		margin-bottom: 1.2rem;
	}

	ol {
		width: 100%;
		padding-left: 0;
		list-style-type: none; /* Убираем исходные маркеры */
		counter-reset:  item; /* Обнуляем счетчик списка */
		@include media-breakpoint-up(md) {
			column-count: 2;
		}
		li {
			line-height: 140%;
			font-size: $xsmall;
			display: flex;
			align-items: flex-start;
			padding-bottom: rem(14);
			max-width: rem(500);
			&:before {
				content: counter(item); /* Добавляем к числам скобку */
				counter-increment: item; /* Задаём имя счетчика */
				font-size: 6px;
				font-weight: 800;
				margin-right: rem(3);
			}
		}
	}



	

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdditionalServices